html{
    background: url(./img/barkacs.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

header{
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
    background-color: slategray;
    color: white;
    margin-bottom: 20px;
    border-radius: 50%;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: slategray;
    border-radius: 50%;
}

.menu li{
    border-bottom: 1px dashed gray;
    display: inline-block;
    border-radius: 50%;
}

.menu li a{
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 3px black;
    cursor: pointer;
    background-color: slategray;
    transition: 0.6s all;
}

.menu li a:hover{
    background-color: black;
    transition: 0.3s all;
    border-radius: 40%;
}

.fakepek{
    display: inline-block;
    
}

.fakepek img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
section{
    background: rgba(255, 255, 255, 0.65);
    margin-left: 40px;
    margin-right: 34px;
    padding-left: 15px;
    padding-top: 5px;
}
.vodor{
    height: 80px;
    width: 80px;
}